[submodule "lib/libft"]
	path = lib/libft
	url = git@github.com:ailopez-o/42Barcelona-Libft.git
[submodule "testers/LeoFu9487"]
	path = testers/LeoFu9487
	url = https://github.com/LeoFu9487/push_swap_tester.git
[submodule "testers/Laisarena"]
	path = testers/Laisarena
	url = https://github.com/laisarena/push_swap_tester.git
[submodule "testers/lmalki"]
	path = testers/lmalki
	url = https://github.com/lmalki-h/push_swap_tester.git
[submodule "visual_checker/libs/libft"]
	path = visual_checker/libs/libft
	url = git@github.com:ailopez-o/42Barcelona-Libft.git
[submodule "pro_checker"]
	path = pro_checker
	url = git@github.com:ailopez-o/42Barcelona-PushSwap-ProChecker.git
