[submodule "testers/LeoFu9487"]
	path = testers/LeoFu9487
	url = https://github.com/LeoFu9487/push_swap_tester.git
[submodule "testers/Laisarena"]
	path = testers/Laisarena
	url = https://github.com/laisarena/push_swap_tester.git
[submodule "testers/lmaki-h"]
	path = testers/lmaki-h
	url = https://github.com/lmalki-h/push_swap_tester.git
